{% extends 'baseLayout.html' %}

{% block content %}

    <h2 class="display-4 mt-5 mb-3">À propos de Nous</h2>
    <p>Nous pour Eux ASBL une association belge qui a pour but d'aider les animaux en détresse et plus particulièrement les chiens de Roumanie.</p>
    <p>Depuis le début du massacre, nous avons aidé des chiens dans toute la Roumanie, mais malheureusement, impossible de les aider tous, il a donc fallu se concentrer sur des endroits précis, notamment le " REFUGE QUI SAUVE DES VIES ". Deux femmes extraordinaires sacrifient tout pour EUX là-bas : Stela Mirea et Mona Semeniuc.</p>
    <p>Au tout début du massacre, le refuge portait le nom de mini-refuge car les loulous étaient moins nombreux (+-50). Mais au fil des sauvetages, c'est devenu un Grand refuge avec +- 150 loulous. Il faut savoir qu'en Roumanie le coût de la vie a fortement augmenté mais les salaires n'ont pas suivis...</p>
    <p>Stela MIREA , Mona SEMENIUC et les loulous ont besoin de VOUS.</p>

    <h3 class="mt-5">Informations générales</h3>
    <p>Nous pour EUX ASBL est née le 1er février 2015, cette association n’a qu’un seul but aider les animaux en détresse et plus particulièrement les chiens de Roumanie, là-bas la situation des loulous est catastrophique, ils sont pourchassés, traqués par les « dogcatchers », ceux-ci les attrapent avec la plus grande cruauté et les placent dans des fourrières qui sont de véritables couloirs de la mort, endéans les 14 jours les chiens sont «abattus» de différentes manières barbares.</p>

{% endblock %}