{% extends 'formLayout.html' %}
{% load static %}

{% block title %} Modifier votre post {% endblock %}

{% block form %}
<div class="mb-4 d-flex justify-content-center text-center">
    <form id="postUpdateForm" action="{% url 'posts:postUpdate' postId=post.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'formRenderingLogic.html'%}

        <button type="submit" class="btn btn-success form-control">modifier</button>

    </form>
</div>

{% endblock %}